.Content{
    margin-top: 60px;
    margin-bottom: 80px;
}
.layer1{
    width: 100%;
    height: 600px;
    margin: auto !important;
    position: relative;
}
.layer1 h2{
    margin-left: 25px !important;
    font-weight: 300;

}
.layer1 .row .col-sm-6 .to-left{
    margin-left: 20px;
}
.layer1 .row .col-sm-6 .to-right{
    margin-left: -7px;
}
.layer1 .row .col-sm-6 .khoi img{
    width: 730px;
    height: 600px;
    position: absolute;
}
.layer1 .row .col-sm-6 .khoi .inside{
    position: absolute;
    margin-top: 60%;
    left: 10%;
    color: white;
}
.layer1 .row .col-sm-6 .khoi .inside .btn{
    border-radius: 40px;
    color: black !important;
    font-weight: bold;
}
/* ---------------------------------------------------- */
.layer2{
    background-image: url('img2/jordan.jpg');
    height: 800px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -100px;
    margin-top: 100px !important;
}
.noidung{
    width: 500px;
    text-align: left;
    font-size: 35px;
    color: white;
    padding-top: 300px;
    margin-left: 100px;
}
.layer2 .chulon{
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}
.layer2 .chunho{
    font-size: 18px;
    text-transform: uppercase;
}
.layer3{
    width: 100%;
    height: 700px;
    text-align: center;
    font-weight: bold;
}
.layer3 img{
    width: 600px;
    height: auto;
}
.layer3 .btn{
    border-radius: 40px;
    margin-top: 20px;
    color: white !important;
    font-weight: bold;
    background-color: black;
    transition: 0.5s;
}
.layer3 .btn:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.layer4 .card-deck .card{
    transition: 0.5s;
}
.layer4 .card-deck .card:hover{
    transition: 0.5s;
    box-shadow: 5px 10px 8px 10px #c2bfbfc2;
    background-color: rgb(232, 236, 234);
    
}
.layer4 .card-deck .card h5{
    font-size: 20px;
    font-weight: 900;
}
/* ------------------------------------------ */
.Theend{
    width: 100%;
    height: 300px;
    background-color: black;
    position: relative;
}
.Theend img{
    position: absolute;
    width: 150px;
    height: auto;
    margin: 20px 20px;
}
.Theend .container{
    border-bottom: 0.2px solid gray ;
}
.Theend .container .row{
    margin-top: 100px;
}
.Theend .container .row a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    transition: 0.5s;
}

.Theend .container .row a h5{
    font-size: 15px;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}
.Theend .container .row a h5:hover{
    color: greenyellow;
    transform: scale(1.1);
    transition: 0.5s;
}
.Theend .container .row a span{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.644);
    transition: 0.5s;
}
.Theend .container .row a span:hover{
    color: greenyellow;
    transform: scale(1.2);
    transition: 0.5s;
}
.Theend .container .row .col-lg-3 i{
    font-size: 35px;
    margin: 5px;
    margin-top: 90px !important;
    transition: 0.5s;

}
.Theend .container .row .col-lg-3 i:hover{
    color: white;
    transition: 0.5s;
}
/* ------------------------------------------------------------------------ */
.discoloration{
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    background: rgb(46, 42, 42);
    color: white;
    transition: 0.5s;
}
/* .toup{
    opacity: 0;
    transition: 0.5s;
    margin: 20px;
}
.toup.show{
    opacity: 1;
    transition: 0.5s;
}  */
#time{
    width: 180px;
    font-size: 32px;
    font-family: 'Nosifer', cursive;
    background-color: #ec3430c2;
    color: white;
    font-weight: 900;
    text-align: center !important;
}
/* ------------------------------------------- */